/* page body */

/* intro section */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: lighter;
}

.instructions {
  font-style: oblique;
}

/* end of intro section */

/* input section  #to do */

.input {
  font-size: 14px;
}

.title {
  border: solid;
}

.button {
  font-size: 14px;
}

/* end of input section */

/* display section */

.display {
  display: flex;
}

/* end of display section */

/* end of page body */
